# Default ignored files
/../../tzhtet-portfolio /.idea/shelf/
/../../tzhtet-portfolio /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../tzhtet-portfolio /.idea/httpRequests/
# Datasource local storage ignored files
/../../tzhtet-portfolio /.idea/dataSources/
/../../tzhtet-portfolio /.idea/dataSources.local.xml
